Mine To Keep Project/Library/
Mine To Keep Project/UserSettings/
Mine To Keep Project/Logs/
Mine To Keep Project/obj/
Mine To Keep Project/.vs/
Mine To Keep Project/Mine To Keep Project.sln
Mine To Keep Project/Assembly-CSharp.csproj
Mine To Keep Project/Assembly-CSharp-Editor.csproj
Mine To Keep Project/.vsconfig
Mine To Keep Project/Temp/
